In [1]:
import pandas as pd

df=pd.read_csv(r'C:\Users\TEJKIRAN\Desktop\DataAnalytics_files\titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [2]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [3]:
target=df.Survived
inputs=df.drop(['Survived'],axis='columns')

In [4]:
dumies=pd.get_dummies(inputs.Sex)
dumies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [5]:
inputs=pd.concat([inputs,dumies],axis='columns')
inputs

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [6]:
inputs.drop(['Sex','female'],axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  male
0       3  22.0   7.2500     1
1       1  38.0  71.2833     0
2       3  26.0   7.9250     0
3       1  35.0  53.1000     0
4       3  35.0   8.0500     1

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.isna().any()

Pclass    False
Age        True
Fare      False
male      False
dtype: bool

In [10]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [11]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass        Age     Fare  male
0       3  22.000000   7.2500     1
1       1  38.000000  71.2833     0
2       3  26.000000   7.9250     0
3       1  35.000000  53.1000     0
4       3  35.000000   8.0500     1
5       3  29.699118   8.4583     1
6       1  54.000000  51.8625     1
7       3   2.000000  21.0750     1
8       3  27.000000  11.1333     0
9       2  14.000000  30.0708     0

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [13]:
len(X_train)

712

In [14]:
len(y_train)

712

In [15]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [20]:
model.fit(X_train,y_train)

GaussianNB()

In [21]:
model.score(X_test,y_test)

0.7877094972067039

In [22]:
model.predict(X_test[:10])

array([1, 0, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [23]:
model.predict_proba(X_test[:10])

array([[0.48000698, 0.51999302],
       [0.71779685, 0.28220315],
       [0.04641466, 0.95358534],
       [0.04110944, 0.95889056],
       [0.45005377, 0.54994623],
       [0.93960175, 0.06039825],
       [0.96225691, 0.03774309],
       [0.96686108, 0.03313892],
       [0.96436549, 0.03563451],
       [0.96699582, 0.03300418]])